/**********************************************************************************************************************/
/**********************************************************************************************************************/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica Neue", 'Arial', 'sans-serif';
    font-size: .35cm;
}

hr.breaker {
    page-break-after: always;
    visibility: hidden;
}

h2 {
    font-weight: 300;
    text-align: center;
    margin-bottom: 20px;
}

/**********************************************************************************************************************/

#container {
    width: 21cm;
    margin: 0 auto;
    text-align: justify;
}

/*#container.specimen {*/
/*background-image: url(img/specimen.png);*/
/*}*/

/**********************************************************************************************************************/
header {
    background-image: url(./img/header.png);
    background-repeat: no-repeat;
    padding-top: 200px;
    background-position: top center;
    text-align: center;
    margin-bottom: 2em;
}

header h1 {
    font-weight: 100;
    font-size: 2.5em;
    margin-bottom: .5em;
}

header h2 {
    margin-bottom: 0;
}

/**********************************************************************************************************************/

main #introduction .signature {
    text-align: right;
    font-weight: bold;
}

main p {
    margin-bottom: 10px;
}

main ul.list {
    list-style-type: none;
}

main ul.list > li {
    overflow: hidden;
    margin-bottom: 10px;
}

main ul.list > li span,
main ul.list > li label {
    display: block;
    float: left;
}

main ul.list > li label {
    width: 30%;
    font-weight: bold;
    text-align: left;
}

main ul.list > li span {
    width: 70%;
}

main span.illustration {
    background-repeat: no-repeat;
    display: block;
    box-shadow: 2px 2px 2px #999;
}

main ul.colonne {
    list-style-type: none;
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    text-align: left;
}

main ul.colonne li {
    padding: 2px;
}

main ul.colonne li:nth-child(odd) {
    background-color: #efefef;
}

main ul.detail {
    list-style-position: inside;
}

main h2 {
    background-color: #ededed;
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    font-weight: 200;
    margin-bottom: 0;
}

main h3 {
    color: #C14641;
    margin-bottom: 15px;
    margin-top: 15px;
    text-transform: uppercase;
}

main {
    padding-bottom: 200px;
}

main ul.disclamer {
    padding: 20px;
    border: 5px solid #000;
}

h3.specimen {
    color: red;
    text-align: center;
    text-decoration: underline;
}

/**********************************************************************************************************************/

main #parties h3 {
    margin-bottom: 15px;
    text-align: center;
    text-decoration: underline;
}

main #parties #prestataire li em {
    font-size: .8em;
    font-style: normal;
}

main #parties #prestataire,
main #parties #locataire {
    background-color: #bbb;
    padding: 10px;
}

main #parties ul.list > li label {
    width: 15%;
}

main #parties ul li.denomination {
    text-align: right;
    font-style: italic;
}

/**********************************************************************************************************************/

main #description_chalet span.illustration {
    background-image: url(./img/chalet-02.jpg);
    background-position: center center;
    height: 150px;
    width: 100%;
    margin-bottom: 20px;
}

main #description_chalet h4 {
    text-align: left;
    margin: 10px 0;
    font-size: 1em;
    font-weight: normal;
}

/**********************************************************************************************************************/

main #detail_location em.equipement {
    text-align: center;
    display: block;
}

main #detail_location span.illustration {
    background-image: url(./img/chalet-01.jpg);
    background-position: center center;
    height: 200px;
    width: 100%;
    margin-bottom: 20px;
}

main #detail_location ul.list > li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #ddd;
}

main #detail_location ul.list > li label {
    width: 25%;
    text-align: left;
}

main #detail_location ul.list > li span {
    width: 75%;
}

main #detail_location ul.list > li strong {
    color: #EA6C18;
    text-align: center;
    font-weight: 300;
    display: inline-block;
    margin-top: 7px;
    width: 100%;
}

/**********************************************************************************************************************/
form p label {
    display: inline-block;
    width: 30%;
}

form p select,
form p input,
form p textarea {
    width: 60%;
}

/**********************************************************************************************************************/
main #signatures ul.signature {
    list-style-type: none;
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
}

main #signatures ul.signature li {
    width: 80%;
    height: 200px;
}

main #signatures ul.signature li span {
    display: block;
}

main #signatures span.signature {
    background-image: url(img/signature.png);
    width: 238px;
    height: 97px;
    display: inline-block;
    /*margin: 0 auto;*/
}

#container.specimen main #signatures span.signature {
    background: none;
}

main #signatures span.rature {
    display: block;
    text-align: center;
}

/**********************************************************************************************************************/
fieldset {
    padding: 10px;
    border: 1px solid #000;
    margin-bottom: 20px;
}

fieldset legend {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

fieldset input {
    font-size: 1em;
}

/**********************************************************************************************************************/
/**********************************************************************************************************************/